{% extends 'base.html' %} 
{% block content %}
<h1>Room List</h1>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Room Name</th>
      <th>Capacity</th>
      <th>Actions</th>
      <th  style="width: 15px;"><a href="{% url 'room_create' %}" style="color: white; background-color: #039be5; padding: 10px; border-radius: 10px; text-align: center; display: flex; width: 40px;">  <i class="material-icons">add   </i>
      </a>
     </th>
    </tr>
  </thead>
  <tbody>
    {% for room in room_list %}
    <tr>
      <td style="font-weight: 800;">
        {{ forloop.counter }}
      </td>
      <td>{{ room.name }}</td>
      <td>{{ room.capacity }}</td>
      <td colspan="2">
        <a href="{% url 'room_update' room.id %}" class="btn blue">Edit</a> 
        <a href="{% url 'room_delete' room.id %}" class="btn red">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}