{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<br />
<br />

<div class="detail-detail">
  <div class="Detail-img">
    <img src="{% static movie.movie_image|cut:'main_app/static/' %}" alt="Venom" />
  </div>

  <div class="movie-detail">
    <p id="detail">
    <h3>{{ movie.title }}</h3>
    </p>
    <p id="detail">Booked by: {{ user.username }}</p>
    <p id="detail">Booking time: {{ booking_time }}</p>
    <p id="detail">Showtime: {{ showtime.show_time }} ({{ showtime.get_show_time_display }})</p>
    <p id="detail">Showtime: {{ room.name }}</p>
    <h3>Seats:</h3>
    <ul>
      {% for seat in seats %}
      <li>{{ seat.seat_code }} - {{ seat.get_seat_type_display }} (${{ seat.price }})</li>
      {% empty %}
      <li>No seats booked.</li>
      {% endfor %}
    </ul>
  </div>

  <div>

    <h3>Total Price: ${{ total_price }}</h3>
  </div>




  {% endblock %}