{% extends 'base.html' %}
{% block content %}
<h1>Seat List</h1>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Seat Code</th>
      <th>Seat Type</th>
      <th>price</th>
      <th style="width: 15px;"><a href="{% url 'seat_create' %}"
          class="add-btn">
          <i class="material-icons">add </i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for seat in seat_list %}
    <tr>
      <td style="font-weight: 800;">
        {{ seat.seat_code }}
      </td>
      <td>{{ seat.seat_type }}</td>
      <td>{{ seat.price }}</td>
      <td colspan="2">
        <a href="{% url 'seat_update' seat.id %}" class="btn blue">Edit</a>
        <a href="{% url 'seat_delete' seat.id %}" class="btn red">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
