{% extends 'base.html' %}
{% load static %}
{% block content %}

<h3>Showing Now</h3>

<!-- Movie Container -->
<div class="backoff-moviecaed">
  <!-- Individual Movie Card -->
  <div class="movie-card">
    <!-- Movie Image -->
    <img
        src="{% static 'uploads/venom.jpg' %}"
        alt="Venom"
        style="width: 207px; height: 276; object-fit: cover;"
    />
    <!-- Movie Name (Hidden by Default) -->
    <div class="movie-hov-ditail">
      Venom <br>
      English | PG-13 | 2h13m
    </div>
  </div>
</div>




{% endblock %}