{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<br/>
<br/>

<div class="detail-detail">
  <div class="Detail-img">
    <img
      src="{% static movie.movie_image|cut:'main_app/static/' %}"
      alt="Venom"
      
    />
  </div>

  <div class="movie-detail">
  <div class="pg">
    <p>{{ movie.age_restriction }} | {{ movie.duration|format_duration }}</p>
  </div>
    <p id="detail">Name: {{ movie.title }}</p>
    <p id="detail">Language: {{ movie.language }}</p>
    <p id="detail">Subtitle: {{ movie.subtitle }}</p>
    <p id="detail">Genre: 
      {% if movie.genres.all %}
      {% for genre in movie.genres.all %}
          {{ genre.name }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
      {% else %}
          No Genres
      {% endif %}
    </p>
    <p id="detail">Release Date: {{ movie.release_date }}</p>

    <div class="tr" onclick="showTrailer()">Trailer</div>
    <div class="overlay" onclick="hideTrailer()"></div>
    
    <div class="iframe-container">
      <iframe 
        src="https://www.youtube.com/embed/__2bjWbetsA?autoplay=1" 
        allowfullscreen>
      </iframe>
    </div>
    </div>
  </div>
  
   

</div>

<br/>
<hr class="hr-color">

<div class="day-indetail">
  TUE<br/>
  12<br/>
  NOV
</div>

<hr class="hr-color">

<div>
<div class="time-indetail">
  05:10 PM
</div>

<div class="time-indetail">
  05:40 PM
</div>

</div>



<div class="showtime-dates">
  <h3>Select a date:</h3>
  {% for date, showtimes in grouped_showtimes.items %}
    <button onclick="showTimes('{{ date }}')">
      <div class="day-indetail">
        {{ date|date:"D" }}<br/>
        {{ date|date:"d" }}<br/>
        {{ date|date:"M" }}
      </div>
    </button>
  {% endfor %}
</div>

<div id="showtimes-container">
  <h3>Available showtimes:</h3>
  {% for date, showtimes in grouped_showtimes.items %}
    <div id="showtimes-{{ date }}" class="showtime-list" style="display: none;">
      {% for showtime in showtimes %}
        <div class="time-indetail">{{ showtime.show_time|date:"h:i A" }}</div>
      {% endfor %}
    </div>
  {% endfor %}
</div>



<script>
  function showTrailer() {
    document.querySelector('.iframe-container').style.display = 'block';
    document.querySelector('.overlay').style.display = 'block';
  }

  function hideTrailer() {
    document.querySelector('.iframe-container').style.display = 'none';
    document.querySelector('.overlay').style.display = 'none';
  }

  function showTimes(date) {
    // Hide all showtime lists
    document.querySelectorAll('.showtime-list').forEach(function(list) {
      list.style.display = 'none';
    });
    // Show the selected date's showtime list
    document.getElementById('showtimes-' + date).style.display = 'block';
  }
</script>

{% endblock %}
