{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2></h2>

<div class="detail-detail">
  <div class="Detail-img">
    <img
      src="{% static movie.movie_image|cut:'main_app/static/' %}"
      alt="Venom"
      
    />
  </div>

  <div class="movie-detail">
  <div class="pg">
    <p>PG-13</p>
  </div>
    <p id="detail">Name: {{ movie.title }}</p>
    <p id="detail">Language: {{ movie.language }}</p>
    <p id="detail">Subtitle: {{ movie.subtitle }}</p>
    <p id="detail">Genre: 
      {% if movie.genres.all %}
      {% for genre in movie.genres.all %}
          {{ genre.name }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
      {% else %}
          No Genres
      {% endif %}
    </p>
    <p id="detail">Release Date: {{ movie.release_date }}</p>
  </div>
</div>

{% endblock %}
