{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VibeVision</title>
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css"
    integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="logo">
      <a href="/">
        <h1>VibeVision</h1>
      </a>
    </div>
    <div class="hamburger" onclick="toggleMenu()">
      <div class="cc" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    <div class="links" id="nav-links">
      <ul>
        {% if user.is_authenticated %}
        {% if user.role == 'admin' %}
        <li>Welcome, Admin!</li>
        <li><a href="/showtimes">Show Time</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/rooms">Rooms</a></li>
        <li><a href="{% url 'seat_list' %}">Seats</a></li>
        <li><a href="/about">About</a></li>
        {% else %}
        <li>Welcome, User!</li>
        <form class="search" method="GET" action="{% url 'showtime_search' %}">
          <input type="text" name="search" placeholder=" Search for a movie..." value="{{ query }}">
          <button type="submit">Search</button>
        </form>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/about">About</a></li>
        {% endif %}
        <li><a href="{% url 'booking_list' %}">Booking</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li>
      </ul>
    </div>
    <div class="login-sec">
      <form class="nostyle" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="log" type="submit">Log Out</button>
      </form>
      {% else %}
      <a class="log" href="{% url 'signup' %}">Sign up</a>
      <a class="log" href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
  </nav>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2024 VibeVision &nbsp;</div>
  </footer>

  <script>

    document.querySelectorAll(".scroll-left").forEach(button => {
      button.addEventListener("click", function () {
        const carouselContainer = button.closest('.scrolling-div').querySelector('.carousel-container');
        carouselContainer.scrollBy({
          left: -220,
          behavior: "smooth",
        });
      });
    });

    document.querySelectorAll(".scroll-right").forEach(button => {
      button.addEventListener("click", function () {
        const carouselContainer = button.closest('.scrolling-div').querySelector('.carousel-container');
        carouselContainer.scrollBy({
          left: 220,
          behavior: "smooth",
        });
      });
    });
    document.addEventListener("DOMContentLoaded", function () {
      const text = "Welcome To Our Cinema 🍿";
      const h1 = document.querySelector(".home-container h1");
      let index = 0;

      function type() {
        if (index < text.length) {
          h1.textContent += text.charAt(index);
          index++;
          setTimeout(type, 70);
        }
      }

      type();

      // Search functionality
      const searchBtn = document.getElementById('search-btn');
      const searchInput = document.getElementById('search-div');

      searchBtn.addEventListener('click', function () {
        if (searchInput.style.display === "none" || searchInput.style.display === "") {
          searchInput.style.display = "block";


        } else {
          searchInput.style.display = "none";
        }
      });
    });

    document.addEventListener("DOMContentLoaded", function () {
      // Select the hamburger and nav-links elements
      const hamburger = document.querySelector('.hamburger');
      const navLinks = document.getElementById('nav-links');

      // Toggle the nav-links visibility on hamburger click
      hamburger.addEventListener('click', function () {
        navLinks.classList.toggle('active'); // Add/remove the 'active' class
      });
    });

    function myFunction(x) {
      x.classList.toggle("change");
    }
  </script>
</body>

</html>