{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="scrolling-div">
  <h3>Now Showing</h3>
  <div class="carousel-container">
    <a class="carousel-item" href="#one!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Venom" />
    </a>
    <a class="carousel-item" href="#two!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Robot" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
 
  </div>
  <button class="scroll-button scroll-left">&#8592;</button>
  <button class="scroll-button scroll-right">&#8594;</button>
</div>
<div class="scrolling-div">
  <h3>Now Showing</h3>
  <div class="carousel-container">
    <a class="carousel-item" href="#one!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Venom" />
    </a>
    <a class="carousel-item" href="#two!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Robot" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
    <a class="carousel-item" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrAr3EwTHDBKT1xm5UmzHS_c37vAc5ZsR1g&s"
           alt="Panda" />
    </a>
 
  </div>
  <button class="scroll-button scroll-left">&#8592;</button>
  <button class="scroll-button scroll-right">&#8594;</button>
</div>

{% endblock %}
