{% extends 'base.html' %}

{% block content %}
<h1>Search Showtimes</h1>

<form method="GET" action="{% url 'showtime_search' %}">
  <input type="text" name="search" placeholder="Search for a movie..." value="{{ query }}">
  <button type="submit">Search</button>
</form>

{% if results %}
<h2>Search Results:</h2>
<ul>
  {% for showtime in results %}
  <li>
    Movie: {{ showtime.movie.title }} - Room: {{ showtime.room.name }} - Time: {{ showtime.show_time }}

  </li>
  {% endfor %}
</ul>
{% else %}
<p>No results found.</p>
{% endif %}
{% endblock %}