{% extends 'base.html' %}
{% block content %}
<h1>Showtime List</h1>
<table id="showtimeTable">
  <thead>
    <tr>
      <th>#</th>
      <th>Movie Title</th>
      <th>Room Name</th>
      <th>Show Time</th>
      <th>Show End Time</th>
      <th>Show duration</th>

      <th style="width: 15px;">
        <!-- <a href="{% url 'showtime_create' %}"
          style="color: white; background-color: #039be5; padding: 10px; border-radius: 10px; text-align: center; display: flex; width: 40px;">
          <i class="material-icons">add</i>
        </a> -->
      </th>
    </tr>
  </thead>
  <tbody>
    {% for showtime in showtime_list %}
    <tr>
      <td style="font-weight: 800;">{{ forloop.counter }}</td>
      <td>{{ showtime.movie.title }}</td>
      <td>{{ showtime.room.name }}</td>
      <td>
        {{ showtime.show_time|date:"D d M Y h:i" }}
        <span style="font-weight: 600;">{{ showtime.show_time|date:"A" }}</span>
      </td>
      <td>
        {{ showtime.show_end_time|date:"D d M Y h:i" }}
        <span style="font-weight: 600;">{{ showtime.show_end_time|date:"A" }}</span>
      </td>
      <td>{{ showtime.movie.duration }}</td>

      <td>
        <a href="{% url 'showtime_update' showtime.id %}" class="btn blue">Edit</a>
        <a href="{% url 'showtime_delete' showtime.id %}" class="btn red">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No showtimes available.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  $(document).ready(function() {
    $('#showtimeTable').DataTable({
      pageLength: 5, 
      lengthMenu: [5, 10, 25, 50], 
      

    });
  });
</script>
<h1>Search Showtimes</h1>

<form method="GET" action="{% url 'showtime_search' %}">
  <input type="text" name="search" placeholder="Search for a movie..." value="{{ query }}">
  <button type="submit">Search</button>
</form>
{% endblock %}